.square {
	background-color: black;
	display: inline-block;
	border: 2px solid white;
}

.highlighted {
	font-weight: bold;
}

#nav {
	margin: 0 auto;
	text-align: center;

}

button {
	margin: 25px 0 25px 0;
	font-size: 16px;
	color: white;
	padding: 10px 20px;
	background-color: #555555;;
	border-radius: 4px;
	outline-color: black;

}


.container {
	margin: 0, auto;
	width: 50%;
	height: 50%;

}

body {
	margin: 0;
	padding: 0;
}

div[class*="row"] {
	width: 800px;
	margin: 0 auto;
	background-color: #cccccc
}



